<div class="min-h-screen bg-gradient-to-b from-zinc-900 via-zinc-900 to-black text-zinc-100 p-8 overflow-scroll">
  <!-- Header Section -->
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-3 mb-8">
      <a class="rounded-lg">
        <!-- Novo Ícone de Karaokê (Microfone com Pedestal) -->
        <svg xmlns="http://www.w3.org/2000/svg" class="h-12 w-12 text-purple-500" viewBox="0 0 24 24"
          fill="currentColor">
          <path
            d="M12 1c-2.21 0-4 1.79-4 4v6c0 2.21 1.79 4 4 4s4-1.79 4-4V5c0-2.21-1.79-4-4-4zM6 11V5c0-3.31 2.69-6 6-6s6 2.69 6 6v6c0 3.31-2.69 6-6 6-1.2 0-2.34-.33-3.33-.91L7.61 15.5c1.52.65 3.17 1.04 4.39 1.04 2.62 0 5-2.15 5-5V5c0-2.21-1.79-4-4-4s-4 1.79-4 4v6c0 1.66-1.34 3-3 3s-3-1.34-3-3z" />
        </svg>
      </a>
      <div>
        <h1 class="text-3xl font-bold">Daisuke Karaokê</h1>
        <p class="text-zinc-400 mt-1">Gerencie o ritmo, libere o show!</p>
      </div>
    </div>
  </div>

  <!-- Admin Dashboard (Cards) -->
  <div class="space-y-6">
    <div class="flex flex-wrap gap-4 mt-6">
      <!-- Card de Songs -->
      <div
        class="bg-zinc-800/50 border-zinc-700/50 hover:bg-zinc-800/80 transition-colors p-6 rounded-lg flex items-center gap-4 flex-grow">
        <div class="p-3 rounded-lg bg-green-500">
          <span class="text-white">💿</span>
        </div>
        <div>
          <p class="text-sm text-zinc-400">Quantidade de Músicas</p>
          <p class="text-2xl font-bold">123</p>
        </div>
      </div>
      <!-- Card de Albums -->
      <div
        class="bg-zinc-800/50 border-zinc-700/50 hover:bg-zinc-800/80 transition-colors p-6 rounded-lg flex items-center gap-4 flex-grow">
        <div class="p-3 rounded-lg bg-blue-500">
          <span class="text-white">📀</span>
        </div>
        <div>
          <p class="text-sm text-zinc-400">Quantidade de</p>
          <p class="text-2xl font-bold">45</p>
        </div>
      </div>
      <!-- Card de Total Usuários -->
      <div
        class="bg-zinc-800/50 border-zinc-700/50 hover:bg-zinc-800/80 transition-colors p-6 rounded-lg flex items-center gap-4 flex-grow">
        <div class="p-3 rounded-lg bg-orange-500">
          <span class="text-white">👥</span>
        </div>
        <div>
          <p class="text-sm text-zinc-400">Quantidade de Usuários</p>
          <p class="text-2xl font-bold">320</p>
        </div>
      </div>
      <!-- Card de Artistas -->
      <div
        class="bg-zinc-800/50 border-zinc-700/50 hover:bg-zinc-800/80 transition-colors p-6 rounded-lg flex items-center gap-4 flex-grow">
        <div class="p-3 rounded-lg bg-purple-500">
          <span class="text-white">🎤</span>
        </div>
        <div>
          <p class="text-sm text-zinc-400">Quantidade de Artistas</p>
          <p class="text-2xl font-bold">78</p>
        </div>
      </div>
    </div>

    <div class="inline-flex bg-zinc-800/50 p-1 rounded-lg">
      <!-- Botão Músicas -->
      <button
        (click)="setCurrentTable('musicas')"
        [ngClass]="currentTable === 'musicas' ? 'tab-btn-active text-white' : 'tab-btn-inactive text-gray-400'"
        class="flex items-center space-x-2 px-4 py-2 rounded-lg font-medium transition duration-300 ease-in-out transform">
        <ion-icon name="musical-notes-outline" class="text-lg"></ion-icon>
        <span>Músicas</span>
      </button>
    
      <!-- Botão Contas -->
      <button
        (click)="setCurrentTable('usuarios')"
        [ngClass]="currentTable === 'usuarios' ? 'tab-btn-active text-white' : 'tab-btn-inactive text-gray-400'"
        class="flex items-center space-x-2 px-4 py-2 rounded-lg font-medium transition duration-300 ease-in-out transform">
        <ion-icon name="albums-outline" class="text-lg"></ion-icon>
        <span>Contas</span>
      </button>
    </div>
    

<app-dashboard-admin
  [header]="currentTable === 'musicas' ? 'Músicas Cadastradas' : 'Usuários Registrados'"
  [subtitle]="(currentTable === 'musicas' ? 'Mantenha suas músicas organizadas e prepare o palco!' : 'Dê o tom perfeito à sua galera: gerencie as contas de usuários do karaokê!')"
  [columns]="currentColumns"
  [data]="currentData"
  [actionButtonLabel]="actionButtonLabel"
  [actionButtonIcon]="'add-outline'"
  [placeholder]="getPlaceholder()"
  [filterOptions]="getFilterOptions()"
  [searchType]="searchType"
  (actionButtonClick)="onActionButtonClick()"
  (linkCopied)="onCopyClick($event)"
  [boolLink]="linkCopied"
></app-dashboard-admin>


  </div>
</div>