<ion-header class="flex items-center justify-between p-2 ion-no-border bg-gradient-to-b bg-black shadow-md">
  <div class="flex items-center justify-center w-12 h-12 mr-2">
    <a *ngIf="isAdmin" href="/admin" class="text-white text-2xl">
      <ion-icon class="hover:text-purple-700 align-middle text-3xl" name="settings-outline"></ion-icon>
    </a>
  </div>

  <div class="flex items-center flex-grow max-w-lg mx-auto relative">
    <div 
      (click)="showDefaultMusic()" 
      class="cursor-pointer flex items-center justify-center w-12 h-12 rounded-full hover:bg-purple-700 transition mr-2"
    >
      <ion-icon name="home-sharp" class="text-3xl text-white"></ion-icon>
    </div>

    <div class="relative flex-grow">
      <ion-icon 
        name="search-outline" 
        class="absolute left-4 top-1/2 transform -translate-y-1/2 text-zinc-400 text-xl">
      </ion-icon>
      <input 
        type="text" 
        [(ngModel)]="searchQuery" 
        (input)="filterMusics()" 
        placeholder="O que você está procurando?" 
        class="h-12 pl-12 pr-4 w-full rounded-full bg-transparent border border-zinc-500 text-zinc-100 text-base focus:outline-none focus:border-purple-600 focus:ring-2 focus:ring-purple-600" 
      />
    </div>
  </div>
</ion-header>

<div class="flex h-screen bg-black text-zinc-100 flex-col lg:flex-row">
  <!-- Sidebar de Playlists -->
  <div class="w-full ml-2 mr-2 lg:w-96 bg-zinc-900 text-white flex flex-col rounded-lg shadow-lg">
    <header class="p-4 flex items-center justify-between border-b border-zinc-700 rounded-t-lg">
      <div class="flex items-center gap-2">
        <ion-icon name="library-outline" class="text-2xl text-zinc-400"></ion-icon>
        <span class="text-lg font-semibold text-zinc-100">Sua Biblioteca</span>
      </div>
      <div class="relative group">
        <div 
          class="flex items-center justify-center w-8 h-8 rounded-full hover:bg-zinc-600 transition mr-2" 
          (click)="openCreatePlaylistModal()"
        >
          <ion-icon name="add-outline" class="text-2xl cursor-pointer hover:text-zinc-400"></ion-icon>
        </div>
        <div 
          class="text-base z-10 absolute bottom-full mb-2 left-1/2 transform -translate-x-1/2 opacity-0 group-hover:opacity-100 bg-gray-700 text-white rounded px-2 py-1 whitespace-nowrap transition-opacity duration-300">
          Criar uma nova playlist
        </div>
      </div>
    </header>

    <div *ngIf="playlists.length === 0" class="p-4 text-center text-gray-400">
      Cadê as playlists? Bora criar uma!
    </div>

    <ul>
      <li 
        *ngFor="let playlist of playlists" 
        (click)="selectPlaylist(playlist)" 
        [ngClass]="{ 'selected': playlist === selectedPlaylist }" 
        class="p-2 hover:bg-zinc-700 rounded cursor-pointer"
      >
        <div class="flex items-center gap-3">
          <ion-icon name="musical-notes-outline" class="text-xl text-zinc-400"></ion-icon>
          <span>{{ playlist.nome }}</span>
        </div>
      </li>
    </ul>
  </div>

  <!-- Conteúdo principal -->
  <div class="flex-1 p-4 bg-gradient-to-b bg-zinc-900 rounded-lg shadow-lg overflow-y-auto">
    <!-- Exibe as músicas agrupadas por gênero -->
    <div *ngIf="!selectedPlaylist">
      <h2 class="text-2xl font-bold text-white mb-6">Pronto para explorar? As músicas estão te esperando!</h2>
      <div *ngFor="let category of categorizedMusic" class="mb-6">
        <!-- Título do gênero com linhas de estilo moderno -->
        <h3 class="text-3xl font-semibold text-white mb-4 flex items-center">
          <span class="w-4 h-1 bg-purple-500 mr-3"></span> <!-- Linha roxa à esquerda -->
          {{ category.genero }}
          <span class="flex-grow border-t border-white ml-3"></span> <!-- Linha branca à direita -->
        </h3>
        
        <!-- Grid de músicas -->
        <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
          <app-music-card 
            *ngFor="let music of category.musics" 
            [title]="music.titulo" 
            [artist]="music.MusicaArtista?.[0]?.artista?.nome || 'Artista desconhecido'" 
            [videoUrl]="'https://www.youtube.com/embed/' + music.link.split('v=')[1]" 
            [thumbnail]="music.thumbnail" 
            [musicaId]="music.id"
            class="mt-2"
          >
            <img [src]="music.thumbnail" alt="Thumbnail da música" />
          </app-music-card>
        </div>
      </div>
    </div>
    
    
    
  
    <!-- Exibe as músicas da playlist selecionada -->
    <div *ngIf="selectedPlaylist">
      <app-playlist-musics 
        [playlist]="selectedPlaylist" 
        [randomGradient]="randomGradient" 
        class="flex-1">
      </app-playlist-musics>
    </div>
  </div>
  
</div>
