<div *ngIf="isAdmin">
  <p>Bem-vindo, Administrador!</p>
  <!-- Botão exclusivo para administradores -->
  <button class="btn btn-primary">Ação de Admin</button>
</div>

<div *ngIf="!isAdmin">
  <p>Bem-vindo, Usuário!</p>
</div>


<div class="flex flex-wrap gap-4">
  <app-music-card
  *ngFor="let music of musicList"
  [title]="music.titulo"
  [artist]="music.MusicaArtista?.[0]?.artista?.nome || 'Artista desconhecido'" 
  [videoUrl]="'https://www.youtube.com/embed/' + music.link.split('v=')[1]"
  [thumbnail]="music.thumbnail"
  [showThumbnail]="false">
</app-music-card>

</div>
