<ion-content>
  <div class="h-screen flex flex-col items-center justify-center">
    
    <!-- Container que envolve o título, formulário e card -->
    <div class="w-full sm:w-2/3 p-8 shadow-lg shadow-black rounded-3xl flex flex-col items-center text-center mx-auto">

      <!-- Container para o título e o botão de voltar -->
      <div class="flex items-center w-full relative">

        <button
          routerLink="/admin"
          aria-label="Voltar"
          class="group flex items-center justify-center w-8 h-8 bg-transparent rounded-full transition duration-300 ease-in-out"
        >
          <!-- Botão com o ícone e a mesma estrutura de hover do primeiro -->
          <div class="relative w-8 h-8 flex items-center justify-center bg-transparent rounded-full transition duration-300 ease-in-out group-hover:bg-white group-hover:bg-opacity-20">
            <ion-icon name="arrow-back" class="text-white text-xl group-hover:text-purple-600"></ion-icon>
          </div>
          
          <!-- Span posicionado logo abaixo do botão -->
          <span
            class="absolute left-4 top-full -translate-x-1/2 opacity-0 text-xs text-white bg-gray-700 px-1 py-1 rounded transition-opacity duration-300 ease-in-out group-hover:opacity-100 group-hover:delay-500 pointer-events-none whitespace-nowrap z-10"
          >
            Voltar
          </span>
        </button>

        <!-- Título centralizado -->
        <h1 class="text-xl font-bold mx-auto">FORMULÁRIO DE CADASTRO DE MÚSICA</h1>
      </div>

      <!-- Container para formulário e card de prévia -->
      <div class="w-full flex flex-row justify-between items-start">
        
        <!-- Formulário -->
        <div class="w-full sm:w-3/5 flex flex-col items-center text-center"> 
          <form (ngSubmit)="onSubmit()" [formGroup]="musicForm" class="w-full flex flex-col items-start">
            
            <ion-input
              name="title"
              errorText="Preencha o campo com o título da música"
              formControlName="title"
              [(ngModel)]="music.title"
              type="text"
              label="Título"
              label-placement="floating"
              fill="solid"
              placeholder=""
              class="w-full mt-4"
            ></ion-input>

            <ion-input
              name="link"
              errorText="Parece que você esqueceu de por o link da música"
              formControlName="link"
              [(ngModel)]="music.link"
              type="text"
              label="Link"
              label-placement="floating"
              fill="solid"
              placeholder=""
              class="w-full mt-4"
            ></ion-input>

            <ion-input
              name="artist"
              errorText="Por favor insira o nome do artista"
              formControlName="artist"
              [(ngModel)]="music.artist"
              type="text"
              label="Artista"
              label-placement="floating"
              fill="solid"
              placeholder=""
              class="w-full mt-4"
            ></ion-input>

            <ion-list *ngIf="artistSuggestions.length > 0" class="w-full mt-2">
              <ion-item
                *ngFor="let artist of artistSuggestions"
                (click)="selectArtist(artist)"
                class="suggestion-item"
              >
                <ion-label>{{ artist.nome }}</ion-label>
                  <ion-button
                    *ngIf="artistSelected"
                    fill="clear"
                    color="danger"
                    class="ml-auto"
                    (click)="clearArtistSelection()"
                  >
                    <ion-icon name="close-circle-outline"></ion-icon>
                  </ion-button>
              </ion-item>
            </ion-list>            


            <ion-select formControlName="genre" name="genre" class="w-full mt-4" label-placement="solid" fill="solid">
              <div class="w-full" slot="label">Gênero <ion-text color="danger">(Obrigatório)</ion-text></div>
              <ion-select-option *ngFor="let g of generosMusicais" [value]="g.value"> 
                {{ g.genero }}
              </ion-select-option>
            </ion-select>

            <!-- Botão "Mostrar prévia" abaixo dos inputs -->
            <ion-button shape="round" class="mt-6 w-full h-12" [disabled]="musicForm.invalid" type="submit">Mostrar prévia</ion-button>
          </form>
        </div>

        <!-- Card de prévia -->
        <div class="w-full sm:w-2/5 ml-6 flex flex-col items-center text-center">
          <ion-card class="w-full">
            <div *ngIf="!musicPreview; else previewContent">
              <!-- Skeleton de carregamento -->
              <ion-skeleton-text animated class="w-full h-48"></ion-skeleton-text>
              <ion-card-header>
                <ion-skeleton-text animated class="w-3/4 h-6"></ion-skeleton-text>
                <ion-skeleton-text animated class="w-1/2 h-4 mt-2"></ion-skeleton-text>
              </ion-card-header>
            </div>
            
            <!-- Conteúdo da prévia quando disponível -->
            <ng-template #previewContent>
              <img [src]="musicPreview?.thumbnail" alt="Thumbnail" class="w-full h-48 object-cover" />
              <ion-card-header>
                <ion-card-title>{{ musicPreview?.title }}</ion-card-title>
                <ion-card-subtitle class="text-left">{{ musicPreview?.artist }}</ion-card-subtitle>
              </ion-card-header>
            </ng-template>
          </ion-card>
          
          <!-- Botão "Salvar" abaixo do card -->
          <ion-button *ngIf="musicPreview" class="mt-4 w-full h-12" shape="round" (click)="registerMusic()" [disabled]="musicForm.invalid" [color]="musicForm.invalid ? 'medium' : 'primary'" >Registrar</ion-button>
        </div>

      </div>
    </div>
  </div>
</ion-content>
