/* Adiciona transições e efeitos de hover */
.suggestion-item {
  border-radius: 0.375rem; /* Bordas arredondadas */
  padding: 0.5rem 1rem; /* Padding para mais espaço interno */
  margin-bottom: 0.5rem; /* Espaço entre os itens */
  transition: background-color 0.3s ease, transform 0.2s ease; /* Transição suave */
  cursor: pointer;
}

.suggestion-item:hover {
  transform: scale(1.02); /* Leve aumento de tamanho */
}


.suggestion-item ion-label {
  font-size: 1rem; /* Tamanho da fonte */
  color: #fff; /* Cor do texto */
  font-weight: 500; /* Peso da fonte */
}

/* Foco no item ao passar o mouse */
.suggestion-item:hover ion-label {
  color: #5e35b1; /* Cor do texto ao passar o mouse */
}
